<div class="otros-dojos">
      <li>
        <a class="enlace-dojo" href="https://bylinedu.org/coderdojovalencia/" target="_blank">
          <figure>
            <img class="imagenLogo" src="images/valencia.png" alt="CoderDojo Logo">
            <figcaption>CoderDojo<br /> Valencia</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="enlace-dojo" href="https://coderdojosalamanca.weebly.com/" target="_blank">
          <figure>
            <img class="imagenLogo" src="images/CoderDojo_Logo.png" alt="CoderDojo Logo">
            <figcaption>CoderDojo<br /> Salamanca</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="enlace-dojo" href="https://juventud.majadahonda.org/coder-dojo" target="_blank">
          <figure>
            <img class="imagenLogo" src="images/CoderDojo_Logo.png" alt="CoderDojo Logo">
            <figcaption>CoderDojo<br /> Majadahonda</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="enlace-dojo" href="https://coderdojocaceres.wordpress.com/" target="_blank">
          <figure>
            <img class="imagenLogo" src="images/CoderDojo_Logo.png" alt="CoderDojo Logo">
            <figcaption>CoderDojo<br /> Cáceres</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="enlace-dojo" href="https://www.medialab-matadero.es/actividades/coder-dojo-grupo-de-trabajo-2024-2025" target="_blank">
          <figure>
            <img class="imagenLogo" src="images/CoderDojo_Logo.png" alt="CoderDojo Logo">
            <figcaption>CoderDojo<br /> Medialab-Matadero</figcaption>
          </figure>
        </a>
      </li>
    </div>
