<div class="coderdojo">
    <h2>Evento CoderDojo España</h2>
    <div class="evento">
        <div class="div-anuncio">
            <img class="anuncio" src="images/tech.webp">
        </div>
        <div class="texto-evento">
            <h3 class="center">Salamanca. 29 de Junio</h3>
            <p>Evento nacional online donde los ninjas presentan sus proyectos y
                celebran el impacto positivo que la programación puede tener en la sociedad.
            </p>
            <p class="animo">!!!Participa¡¡¡</p>
            <a class="boton-negro-verde" href="https://sites.google.com/bylinedu.es/tech4ods/inicio" target="_blank">Más
                información</a>
        </div>
    </div>
</div>