<div class="container-menu-recursos">
    <div class="grid">
        <div class="scratch">
            <a href="{{site.baseurl}}/recursos/scratch">
                <div class="card">
                    <div class="imagen-card">
                        <img src="{{site.baseurl}}/images/scratch.svg" alt="Logo de Scratch">
                    </div>
                    <div class="titulo-card">
                        <h3>Scratch</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="android">
            <a href="http://">
                <div class="card">
                    <div class="imagen-card">
                        <img src="{{site.baseurl}}/images/android.png" alt="Logo de android">
                    </div>
                    <div class="titulo-card">
                        <h3>Android</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="makecode">
            <a href="http://">
                <div class="card">
                    <div class="imagen-card">
                        <img src="{{site.baseurl}}/images/makecode_arcade.png" alt="logo makecode arcade">
                    </div>
                    <div class="titulo-card">
                        <h3>Makecode Arcade</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="web">
            <a href="http://">
                <div class="card">
                    <div class="imagen-card">
                        <img width="95px" height="100px" src="{{site.baseurl}}/images/desarrollo_web.jpg"
                            alt="logo desarrollo web">
                    </div>
                    <div class="titulo-card">
                        <h3>Desarrollo Web</h3>
                    </div>
                </div>
            </a>
        </div> -->
    </div>


</div>