<!DOCTYPE html>
<html>
  <head>
    {% include analytics.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    {% seo %}

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="Logo de la página"/></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">Club de Programación</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Inicio</a>
	    <a href="{{ site.baseurl }}/reservar">Reservar</a>
            <a href="{{ site.baseurl }}/noticias">Blog</a>
	    <a href="{{ site.baseurl }}/recursos">Recursos</a>
            <a href="{{ site.baseurl }}/about">Dojo</a>
	    <a href="{{ site.baseurl }}/videos">Videos</a>
           <!--<a href="{{ site.baseurl }}/lista">lista</a>-->
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
	<div class="grande">
		&copy;2019 Andrés Ramos
	</div>
        <div class="pequeno">
		&copy;2019 A.Ramos
	</div>
	<div class="icon">
		{% include svg-icons.html %}
	</div>
        </footer>
      </div>
    </div>

    
  </body>
</html>
